/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
	--accent: #4474d3;
	--light-accent: rgba(109, 151, 235, 0.457);
	--dark-accent: #33508a;
	--main-color: rgb(50, 61, 85);
	--main-color-h2: rgb(77, 94, 139);
	--main-color-h3: rgb(99, 111, 141);
	--main-color-extra-light: rgb(136, 147, 167);
	--highlight: rgba(129, 12, 12, 0.787);
	--gray-light: 104, 104, 104;
	--gray-dark: 40, 39, 40;
	--box-shadow: 0 2px 6px rgba(var(--gray-light), 25%), 0 8px 24px rgba(var(--gray-light), 33%),
		0 16px 32px rgba(var(--gray-light), 33%);
}
html {
	scroll-behavior: smooth;
}
body {
	/* npm install @fontsource-variable/raleway */
	font-family: 'Raleway Variable', 'Comic Sans MS';
	margin: 0;
	padding: 0;
	text-align: justify;
	background-color: var(--background-color);
	color: rgb(var(--gray-dark));
	font-size: 17px;
	line-height: 1.7;
	background-color: #ffffff;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 1em 1em 2em 1em;
}
h1 {
	margin: 0.5em 0 0 0;
	color: var(--main-color);
	line-height: 1.2;
	text-align: left;
}
h2{
	margin: 1em 0 0 0;
	color: var(--main-color-h2);
	line-height: 1.2;
	text-align: left;
} 
h3 {
	margin: 0.5em 0 0.5em 0;
	color: var(--main-color-h3);
	line-height: 1.2;
}
h4 {
	margin: 0.8em 0 0 0;
	color: var(--main-color-extra-light);
	line-height: 1.2;
}
h5, 
h6 {
	margin: 0.7em 0 0 0;
	color: var(--main-color-extra-light);
	line-height: 1.2;
}
h1 {
	font-size: 2.052em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 0.963em;
}
h5 {
	font-size: 0.863em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		color: var(--dark-accent);
	}
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
/** for `code` snippets */
code {
	padding: 2px 5px;
	background-color: rgba(var(--gray-light), 25%);
	border-radius: 2px;
	font-size: 0.8em;
}
/** for code blocks */
pre {
	padding: 1.5em;
	border-radius: 8px;
	line-height: 1.5em;
	font-size: 0.8em;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid rgb(85, 103, 143);;
	padding: 0.2em 1em 0.2em 0.8em;
	font-size: 1em;
	color:rgb(105 127 174);
	background-color: rgb(219 224 230 / 42%);
	border-radius: 0px 8px 8px 0px;
	display: block;
	margin: 1em 0em 2em 0em;
	position: relative;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}