---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Terminal from '../components/Terminal.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1><Terminal>Welcome to the Ssvv blog site!</Terminal></h1>
			<p>// TODO: add content here! 😀</p>
		</main>
		<Footer />
	</body>
</html>
