---
import Layout from '../layouts/BlogPost.astro';

const post = {
	data : {
		title: "Useful resources",
		description: "This is a page where we can find useful resources like books, blogs, courses... related to the tech world"
	},
	id : "resources"
}
---

<Layout post={post}>

<h2> Free Courses </h2>
<ul>
	<li><a href="https://techdevguide.withgoogle.com/paths/data-structures-and-algorithms">Google Tech Dev Guide DSA</a></li>
	<li><a href="https://www.deeplearning.ai/short-courses/chatgpt-prompt-engineering-for-developers/">Prompt Engineering for Developers</a></li>
	<li><a href="https://www.freecodecamp.org/learn/back-end-development-and-apis/">Freecodecamp for Backend</a></li>
	<li><a href="https://www.youtube.com/watch?v=8hly31xKli0&ab_channel=freeCodeCamp.org">Algorithms and data structures full course for beginners</a></li>
	<li><a href="https://www.designgurus.io/course-play/grokking-the-coding-interview/doc/who-should-take-this-course">Grokking the Coding Interview: Patterns for Coding Questions</a></li>
	<li><a href="https://neetcode.io/roadmap">Neetcode roadmap</a></li>
</ul>

<h2>Coding</h2>
<h3>leetcode</h3>
<ul>
	<li> ⭐️ <a href="https://neetcode.io/">neetcode.io</a></li>
	<li><a href="https://leetcode.com/studyplan/leetcode-75/">LeetCode 75 problems study plan</a></li>
	<li><a href="https://www.youtube.com/watch?v=PVjKqhi4qpw=">LeetCode Patterns</a></li>
</ul>

<h3>Data Structures & Algorithms</h3>
<ul>
	<li><a href="https://youtube.com/playlist?list=PLBlnK6fEyqRhoF3cPp0mgOZPuXeu84nAd&si=VgvWUkjACviE7G_p">Design and analysis of Algorithms</a></li>
	<li><a href="https://youtube.com/playlist?list=PLrS21S1jm43igE57Ye_edwds_iL7ZOAG4&si=mlb0cY1WPoTs2shk">A&DS</a></li>
</ul>

<h3>Coding typing</h3>
<ul>
	<li><a href="https://typing.io/">typing.io</a></li>
</ul>

</Layout>
