---
import Layout from '../layouts/BlogPost.astro';

const post = {
	data : {
		title: "Recursos útiles",
		description: "El objetivo de esta entrada es agrupar recursos útiles (libros, cursos, charlas, etc) relacionados con el mundo del desarrollo y la tecnología"
	},
	id : "resources"
}
---

<Layout post={post}>

<h2> Cursos gratuitos (inglés) </h2>
<ul>
	<li><a href="https://techdevguide.withgoogle.com/paths/data-structures-and-algorithms" target="_blank">Google Tech Dev Guide DSA</a></li>
	<li><a href="https://www.deeplearning.ai/short-courses/chatgpt-prompt-engineering-for-developers/" target="_blank">Prompt Engineering for Developers</a></li>
	<li><a href="https://www.freecodecamp.org/learn/back-end-development-and-apis/" target="_blank">Freecodecamp for Backend</a></li>
	<li><a href="https://www.youtube.com/watch?v=8hly31xKli0&ab_channel=freeCodeCamp.org" target="_blank">Algorithms and data structures full course for beginners</a></li>
	<li><a href="https://youtu.be/LfaMVlDaQ24" target="_blank">Harvard CS50 (2023) – Full Computer Science University Course</a></li>
	<li><a href="https://www.designgurus.io/course-play/grokking-the-coding-interview/doc/who-should-take-this-course" target="_blank">Grokking the Coding Interview: Patterns for Coding Questions</a></li>
	<li><a href="https://neetcode.io/roadmap" target="_blank">Neetcode roadmap</a></li>
	<li><a href="https://cs50.harvard.edu/ai/2024/" target="_blank">CS50 AI course</a></li>
	<li><a href="https://www.khanacademy.org/computing/computer-science/algorithms" target="_blank">CLRS</a></li>
	
	<h3>MIT OpenCourseWare</h3>
	<ul>
		<li><a href="https://ocw.mit.edu/courses/6-042j-mathematics-for-computer-science-spring-2015/" target="_blank">MIT 6.042J Mathematics for Computer Science, Spring 2015</a></li>

		<li><a href="https://ocw.mit.edu/courses/6-006-introduction-to-algorithms-fall-2011/" target="_blank">MIT 6.006 Introduction to Algorithms, Fall 2011 (6.042j required)</a></li>
		<li><a href="https://ocw.mit.edu/courses/6-006-introduction-to-algorithms-spring-2020/" target="_blank">MIT 6.006 Introduction to Algorithms, Spring 2020 (6.042j required)</li>

		<li><a href="https://ocw.mit.edu/courses/6-046j-introduction-to-algorithms-sma-5503-fall-2005/" target="_blank">MIT 6046J Introduction to Algorithms (SMA 5503) Fall 2005 (6.006 required)</li>	
		<li><a href="https://ocw.mit.edu/courses/6-046j-design-and-analysis-of-algorithms-spring-2015/" target="_blank">MIT 6046J Design and Analysis of Algorithms Spring 2015 (6.006 required)</li>	
	</ul>

	<h3>LLM's</h3>
	<ul>
		<li><a href="https://youtube.com/playlist?list=PLPTV0NXA_ZSgsLAr8YCgCwhPIJNNtexWu&si=VKKx_Ya3ot4qRAZt" target="_blank">Building LLMs from scratch</a></li>
	</ul>
</ul>

<h2>Coding</h2>
<h3>Problemas</h3>
<ul>
	<li class="highlight"><a href="https://neetcode.io/" target="_blank">neetcode.io</a></li>
	<li><a href="https://leetcode.com/studyplan/leetcode-75/" target="_blank">LeetCode 75 problems study plan</a></li>
	<li><a href="https://www.youtube.com/watch?v=PVjKqhi4qpw=" target="_blank">LeetCode Patterns</a></li>
</ul>

<h3>Estructuras de datos y algoritmos</h3>
<ul>
	<li><a href="https://youtube.com/playlist?list=PLBlnK6fEyqRhoF3cPp0mgOZPuXeu84nAd&si=VgvWUkjACviE7G_p" target="_blank">Design and analysis of Algorithms</a></li>
	<li><a href="https://youtube.com/playlist?list=PLrS21S1jm43igE57Ye_edwds_iL7ZOAG4&si=mlb0cY1WPoTs2shk" target="_blank">A&DS</a></li>
</ul>

<h3>Coding typing</h3>
<ul>
	<li><a href="https://typing.io/" target="_blank">typing.io</a></li>
</ul>

<h3>Necesitas algo de motivación?</h3>
<ul>
	<li><a href="https://github.com/jwasham/coding-interview-university?tab=readme-ov-file#dont-feel-you-arent-smart-enough" target="_blank">dont-feel-you-arent-smart-enough</a></li>
	<li><a href="https://github.com/codecrafters-io/build-your-own-x" target="_blank">Build your own X</a></li>
</ul>

</Layout>

<style>
	li {
		padding-left: 5px;
	}
	.highlight {
		list-style-type: "⭐️";
	}
</style>
