---
import HeaderLink from './HeaderLink.astro';
import Breadcrumbs from './Breadcrumbs.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<span class="logo">&#123&#125 {SITE_TITLE}</span>
		<section>
			<div>
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog/">Blog</HeaderLink>
				<HeaderLink href="/about/">About</HeaderLink>
			</div>
		</section>
	</nav>
</header>
<Breadcrumbs />
<style>
	header {
		top: 0;
		width: 100%;
		max-width: 1440px;
		margin-left: auto;
    	margin-right: auto;
		border-bottom: 1px solid #e5e7eb;
	}

	nav {
		display: flex;
		align-items: center;
		gap: 2em;
	}

	.logo {
		font-size: x-large;
		font-weight: 700;
	}
</style>
