---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---
<header>
	<nav>
		<section>
			<div>
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog/1">Blog</HeaderLink>
				<HeaderLink href="/resources">Resources</HeaderLink>
			</div>
		</section>
		<span class="logo">&#123&#125 {SITE_TITLE}</span>
	</nav>
</header>
<style>
	header {
		top: 0;
		width: 100%;
		max-width: 1024px;
		margin-left: auto;
    	margin-right: auto;
		border-bottom: 1px solid #e5e7eb;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2em;
	}

	.logo {
		font-size: x-large;
		font-weight: 700;
		padding-right: 8px;
		color: var(--main-color);
	}
</style>