---

---

<div class="cursor typewriter-animation">
    <span><slot /></span>
</div>

<style>
    /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    width: 100%;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    color: #f1f1f1; 
    font-family: 'Anonymous Pro', monospace;
    background-color: #673ab7;
}

/* Animation */
.typewriter-animation {
  animation: 
    typewriter 10s steps(60) 1s 1 normal both, 
    blinkingCursor 700ms steps(60) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

</style>